html {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.6;
}
a {
  color: black;
}
body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: none;
  background-color: #fafafe;
}
h1,
h2,
h3 {
  color: #00838f;
}
#content {
}
.titleLogoDiv {
  font-size: 2em;
  font-size: 4vw;
  margin-top: 30vh;
  text-align: center;
  margin-bottom: -23px;
}
.titleLogoDiv-big {
  animation-name: titleLogoToBigAnimation;
  animation-duration: 1s;
}
@keyframes titleLogoToBigAnimation {
  from {
    font-size: 2em;
    font-size: 2vw;
    margin-top: 0vh;
  }
  to {
    font-size: 2em;
    font-size: 4vw;
    margin-top: 30vh;
    margin-bottom: -23px;
  }
}
@keyframes titleLogoToSmallAnimation {
  from {
    font-size: 2em;
    font-size: 4vw;
    margin-top: 30vh;
    margin-bottom: -23px;
  }
  to {
    font-size: 2em;
    font-size: 2vw;
    margin-top: 0vh;
  }
}
.titleLogoDiv-small {
  font-size: 2em;
  font-size: 2vw;
  margin-top: 0vh;
  animation-name: titleLogoToSmallAnimation;
  animation-duration: 1s;
}
.titleLogoDiv h1 {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #00838f;
}
@keyframes titleLogoh1ToBig {
  from {
    margin-top: 0px;
    font-weight: 400;
  }
  to {
    font-weight: 300;
  }
}
@keyframes titleLogoh1ToSmall {
  from {
    font-weight: 300;
  }
  to {
    font-weight: 400;
  }
}
.titleLogoDiv-small h1 {
  animation-name: titleLogoh1ToSmall;
  animation-duration: 1s;
  font-weight: 400;
  margin-top: 0px;
}
.titleLogoDiv-big h1 {
  animation-name: titleLogoh1ToBig;
  animation-duration: 1s;
}
.titleLogoDiv:hover {
  cursor: pointer;
}
#searchBarDiv {
  height: 38px;
  max-width: 584px;
  width: 96%;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(117, 117, 117, 0.86);
  -moz-box-shadow: 0px 0px 2px 2px rgba(117, 117, 117, 0.86);
  box-shadow: 0px 0px 2px 2px rgba(117, 117, 117, 0.86);
}
#searchBarHamburgerMenuIcon {
  color: #7d7d7d !important;
  font-size: 35px !important;
  position: absolute !important;
  font-color: green;
}
#searchBar {
  background-color: white;
  border: none;
  height: auto;
  max-width: 584px;
  width: 96%;
  position: absolute;
  outline: none;
  font: 16px arial, sans-serif;
  line-height: 26px !important;
  height: 26px !important;
  display: block;
  margin: 0 auto;
  padding: 10px 34px 0;
  box-sizing: border-box;
}
.focusBorder {
  border: 1px solid #4d90fe;
}
#DropDownMenuDiv {
  padding-top: 38px;
  overflow: hidden;
}
#innerSearchBarDiv {
  height: 38px;
  max-width: 584px;
  width: 96%;
  position: absolute;
}
.hiddenClass {
  display: none;
}
.DropDownMenu {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}
#divBeforeProjectContent {
  height: 100vh;
  width: 100%;
}

#projectContent {
  position: relative;
  margin-top: 5%;
}
.lastProjectCard {
  margin-bottom: 50vh !important;
}
.projectPaperDiv {
  width: 100%;
}
.cardDiv {
  height: 100%;
  background-color: #f5f5f5 !important;
}
.projectPaperDiv img {
  width: 100%;
}
.projectDiv {
  width: 40%;
}
.cardTextDiv {
  font-size: 16px !important;
  line-height: 1.6 !important;
}
#projectContent {
  animation-name: projectPapers;
  animation-duration: 2s;
}
.playstoreicon {
  margin-bottom: -6px;
}
@keyframes projectPapers {
  from {
    margin-top: 1000px;
  }
  to {
    margin-top: 5%;
  }
}
#menyTabsDiv {
  text-align: center;
  color: #fafafe;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  width: 40%;
  margin-bottom: 150px;
}
.muidocs-icon-custom-github:before {
  content: "\e625";
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(56, 54, 54, 0.62);
  color: rgba(255, 255, 255, 0.86);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: -197px;
}
.disabledLink {
  color: rgba(86, 83, 83, 0.870588);
}
.disabledLink:hover {
  cursor: default;
}
.disabledLink:hover + .tooltiptext {
  visibility: visible;
  cursor: default;
}
#aboutContentDiv {
  text-align: center;
}
#paperContent {
  background-color: #fafafe !important;
  box-shadow: none !important;
  margin: auto;
  margin-top: 50px;
  height: 65vh;
  width: 80vw;
  position: relative;
}
#listAbout {
  width: 31vw;
  margin-top: 10%;
}
#paperAvatar {
  width: 20vw;
  height: 20vw;
  display: inline-block;
  position: absolute;
  right: -60px;
  box-shadow: none !important;
}
#avatarImage {
  height: 100% !important;
  width: 100% !important;
}
#aboutTextDiv {
  position: absolute;
  width: 57vw;
  height: 100%;
  top: 3%;
  left: 3%;
  text-align: left;
}
#socialMediaAbout {
  position: absolute;
  right: 1%;
  bottom: 1%;
  text-align: right;
  width: 100%;
}
#socialMediaAbout a {
  margin: 3px;
  font-size: 3em;
  color: #00838f;
}
#socialMediaAbout a:hover {
  color: #025e67;
}
#contactContent {
  position: relative;
  color: black;
  height: 100vh;
}
#contactdiv {
  padding: 7%;
}
#contactContent img {
  position: absolute;
  height: auto;
  width: 50vw;
  left: 14px;
  bottom: 13vh;
  z-index: -1;
}
#mailtag {
  color: #00838f;
  text-decoration: none;
  color: #00838f;
  text-decoration: none;
  font-weight: 400;
  font-size: 131%;
}
#socialMediaContact a {
  margin: 15px;
  font-size: 7em;
  color: #00838f;
}
#socialMediaContact a:hover {
  color: #025e67;
}
.mobileOnly {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .mobileOnly {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
  /* optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
  #projectContent {
    margin-top: 0px;
  }
  #paperContent {
    margin: auto;
    height: 84vh;
    width: 98vw;
    position: relative;
    overflow: auto;
  }
  #paperAvatar {
    width: 20vw;
    height: 20vw;
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 35px;
  }
  #listAbout {
    width: 100%;
  }
  #contactContent img {
    position: absolute;
    height: auto;
    width: 80vw;
    left: 8px;
    bottom: 10vh;
    z-index: -1;
  }
}
@media only screen and (max-width: 767px) {
  /*#titleLogoH1{
    font-size: 1em;
    font-size: 16vw;
    margin-bottom: 33px;
  }
  #lastnameInTitleLogo{
    display: none;
  }
  */
  #menuDiv {
    margin-top: 23px;
  }
  .menuIcons svg {
    color: #00838f !important;
  }
  .menuIconsActive svg {
    color: #00838f !important;
    border-bottom: 1px solid #00838f;
  }
  #paperAvatar {
    width: 20vw;
    height: 20vw;
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 25px;
    box-shadow: none !important;
  }
  #aboutTextDiv {
    position: absolute;
    width: 99%;
    height: 100%;
    top: 14vw;
    left: 1%;
    text-align: left;
  }
  #socialMediaAbout {
    position: inherit;
  }
  #mailtag {
    font-size: 90%;
  }
  #contactContent img {
    position: absolute;
    height: auto;
    width: 99vw;
    left: 0px;
    bottom: 10vh;
    z-index: -1;
  }
  .disabledLink:hover + .tooltiptext {
    visibility: hidden;
    cursor: default;
  }
  .mobileOnly {
    display: block;
  }
  .desktopOnly {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
  /* optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex-item {
    width: 98vw;
  }
}
